<div class="board">
    <div class="board-screen">
        <div class="board-informations">
            <app-word [word]="(game$ | async).currentWord"></app-word>
            <div class="board-actions">
                <app-actions></app-actions>
                <app-score [word]="(game$ | async).currentWord" [user]="(game$ | async).user"></app-score>
            </div>
        </div>
        <div class="board-hangman">
            <app-hangman [word]="(game$ | async).currentWord"></app-hangman>
        </div>
    </div>
    <div class="board-keyboard">
        <app-keyboard [word]="(game$ | async).currentWord"></app-keyboard>
    </div>
</div>

<div *ngIf="(game$ | async).ready === false" class="spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>