.board {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .board-screen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;

        .board-informations {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 2;
            height: 100%;

            app-word {
                display: flex;
                flex: 1;
            }

            app-score {
                display: flex;
                flex: 2;
            }
        }

        .board-hangman {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .board-keyboard {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}