<div class="keyboard-container">
    <div class="first-line line">
        <app-touch *ngFor="let letter of lettersOnFirstLine" [disabled]="word?.charactersAttempted?.includes(letter)"
            [letter]="letter"></app-touch>
    </div>
    <div class="second-line line">
        <app-touch *ngFor="let letter of lettersOnSecondLine" [disabled]="word?.charactersAttempted?.includes(letter)"
            [letter]="letter"></app-touch>
    </div>
    <div class="third-line line">
        <app-touch *ngFor="let letter of lettersOnThirdLine" [disabled]="word?.charactersAttempted?.includes(letter)"
            [letter]="letter"></app-touch>
    </div>
</div>