.keyboard-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    border: solid 3px transparent;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;

    .line {
        display: flex;
        flex-direction: row;
    }

    .second-line {
        margin-left: 3vw;
    }

    .third-line {
        margin-left: -18vw;
    }

}